main {
  display: grid;
  grid-template-columns: 120px 120px 120px;
  grid-gap: 0px;
}

app-square {
  border: 1px solid gray;
  height: 120px;
  display: flex;
  background: linear-gradient(0deg, #52525277, #b8b8b877);
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}

.winner {
  font-size: 4rem;
}

button {
  background: rgb(185, 185, 185);
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: bold;
  box-shadow: 4px 4px #666;
  border: 2px black solid;
  border-radius: 2px;
  padding: 0.5rem;
  margin: 0.5rem 0 1rem 0;
  width: 360px;
}

button:hover {
  background-color: white;
  cursor: pointer;
}

button:active {
  background-color: white;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

app-square:hover {
  background: white;
  cursor: pointer;

}
